.character-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .character-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
  }
  
  .character-info {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .character-skills {
    margin-top: 5px;
    display: flex;
  }
  
  .character-skills ul {
    list-style-type: none;
    padding: 0;
  }
  
  .character-skills li {
    margin-bottom: 5px;
  }
  